.todo-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  width: 50%;
  margin: 50px auto;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px 20px 10px;
  color: green;
  border-bottom: 1px solid lightblue;
  width: 50%;
}

input[type="checkbox"] {
  margin-right: 10px;
}
